{% extends "index.html" %}

{% block content %}

<style>
label {
  padding: 4px 4px 4px 0;
  display: block;
}
input[type=text], select {
  width: 80%;
  padding: 8px 8px;
  margin: 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
    }
input[type=submit] {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form class=""
               action="{{url_for('forcoursework')}}"
               method="post">
                {{ form.initalization_num.label }}
                {{ form.initalization_num }}
                {{ form.gradebook_number.label }}
                {{ form.gradebook_number }}
                {{ form.cwname.label }}
                {{ form.cwname }}
                {{ form.research_direction.label }}
                {{ form.research_direction }}
                {{ form.mark.label }}
                {{ form.mark }}

                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="table-responsive col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Initalization number</th>
                        <th scope="col">Gradebook number</th>
                         <th scope="col">Course work name</th>
                        <th scope="col">Research direction</th>
                        <th scope="col">Mark</th>
                    </tr>
                </thead>
                <tr>
                {% for CourseWork in  works  %}
                    <td> {{CourseWork.initalization_num}} </td>
                    <td> {{CourseWork.gradebook_number}} </td>
                    <td> {{CourseWork.cwname}} </td>
                    <td> {{CourseWork.research_direction}} </td>
                    <td> {{CourseWork.mark}} </td>
                    <td><a href="/Course_work/edit/{{CourseWork.initalization_num}}" class="btn btn-success">Edit</a> </td>
                    <td><a href="/Course_work/delete/{{CourseWork.initalization_num}}" class="btn btn-danger">Delete</a> </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
         </div>
     </div>
</div>


{% endblock %}