{% extends "index.html" %}

{% block content %}

    <p><font color="#fff"> Кількість кластерів = {{ count_claster }}</font></p>
    <p><font color="#fff"> Об'єкт належить кластеру № {{ row }}</font></p>
    <h1>graphic ...</h1>
    <div id="pie" class="pie">
    </div>
    <script src="{{ url_for('static', filename='js/d3.v5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>


    <script type="text/javascript">
        var graphs = {{graphsJSON | safe}};

        Plotly.plot('pie', // the ID of the div, created above
            graphs, {});

    </script>
{% endblock %}