{% extends "admin.html" %}

{% block title %}exercise CRUD{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Exercise_name</th>
            <th scope="col">Information</th>
        </tr>
        </thead>
        <tbody>
        {% for exercise in complexAll%}
        <tr>
            <td> {{exercise.exercise_name}}</td>
            <td> {{exercise.information}}</td>
            <td>
                <a href="/exercise_update?name={{exercise.exercise_name}}"
                   title="edit button">
                    <button type="button" class="btn btn-warning" name="btn_edit_complex"
                            data-complex-name="{{exercise.exercise_name}}">Edit
                    </button>
                </a>
                <a href="/delete_exercise?name={{exercise.exercise_name}}"
                   title="delete button">
                    <button type="button" class="btn btn-danger" name="btn_delete_exercise"
                            data-complex-name="{{exercise.exercise_name}}">Delete
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <a href="/exercise_create" title="new exercise button">
                    <button type="button" class="btn btn-success" name="btn_new_exercise">New exercise</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}