<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="static/js/btn.js"></script>
    <title>Сутності</title>
</head>
<body>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Студент</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr >
                <td> {{student.faculty}} </td>
                <td> {{student.group}} </td>
                <td> {{student.surname}} </td>
                <td> {{student.name}} </td>
                <td> {{student.username}} </td>
                <td>
                    <a href="/edit_student?id={{student.id}}"><button type="button" class="btn btn-warning" name="btn_edit_student" data-user_id="{{student.id}}">Змінити</button></a>
                    <a href="/delete_student?id={{student.id}}"><button type="button" class="btn btn-danger" name="btn_delete_student" data-user_id="{{student.id}}">Видалити</button></a>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td>
                    <a href="/new_student"><button type="button" class="btn btn-success" name="btn_new_student">Додати студента</button> </a></td>
            </tr>
        </tbody>
    </table>
 </div>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Назва жанру</th>
            <th>Психотип</th>
        </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr >
                <td> {{genre.name}} </td>
                <td> {{genre.psychotype}} </td>
                <td>
                    <a href="/edit_genre?id={{genre.id}}"><button type="button" class="btn btn-warning" name="btn_edit_genre" data-user_id="{{genre.id}}">Змінити</button></a>
                    </td>
            </tr>
        {% endfor %}
            <tr>
                <td>
                    <a href="/new_genre"><button type="button" class="btn btn-success" name="btn_new_student">Додати жанр</button> </a></td>
            </tr>
        </tbody>
    </table>
 </div>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Код виконавця</th>
            <th>Ім'я</th>
        </tr>
        </thead>
        <tbody>
        {% for performer in performers %}
            <tr >
                <td> {{performer.id}} </td>
                <td> {{performer.name}} </td>
            </tr>
        {% endfor %}
            <tr>
                <td>
                    <a href="/new_performer"><button type="button" class="btn btn-success" name="btn_new_performer">Додати виконавця</button> </a></td>
            </tr>
        </tbody>
    </table>
 </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>