{% extends "index.html" %}

{% block content %}
  <div style="align-content: center">
    <form method="POST">
    {{ form.csrf_token }}
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
      {% endfor %}
      <h1>Sign Up</h1>
      <div class="email">
        {{ form.email.label }}
        {{ form.email(placeholder='youremail@example.com', class='form-control', style='width: 50%; align: left') }}
        {% if form.email.errors %}
          <ul class="errors">
              {% for error in form.email.errors %}<li><p class="text-danger">{{ error }}</p></li>{% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="password">
        {{ form.password.label }}
        {{ form.password(class='form-control', style='width: 50%; align: left')}}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}<p class="text-danger">{{ error }}</p>{% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="confirm">
        {{ form.confirm.label }}
        {{ form.confirm(class='form-control', style='width: 50%; align: left') }}
        {% if form.confirm.errors %}
          <ul class="errors">
              {% for error in form.confirm.errors %}<li><p class="text-danger">{{ error }}</p></li>{% endfor %}
          </ul>
        {% endif %}
      </div>
        <div class="name">
            {{ form.first_name.label }}
            {{ form.first_name(placeholder='John Smith', class='form-control', style='width: 50%; align: left') }}
            {% if form.first_name.errors %}
              <ul class="errors">
                {% for error in form.first_name.errors %}<p class="text-danger">{{ error }}</p>{% endfor %}
              </ul>
            {% endif %}
          </div>
        <div class="name">
            {{ form.last_name.label }}
            {{ form.last_name(placeholder='John Smith', class='form-control', style='width: 50%; align: left') }}
            {% if form.last_name.errors %}
              <ul class="errors">
                {% for error in form.last_name.errors %}<p class="text-danger">{{ error }}</p>{% endfor %}
              </ul>
            {% endif %}
          </div>
      <div class="submitbutton" >
          <p></p>
        <input id="submit" type="submit" value="Submit" class="btn btn-success">
      </div>
    </form>
    <div class="loginsignup">
        <p></p>
      <span>Already have an account? <a href="{{ url_for('login') }}">Log in.</a></span>
    </div>
  </div>
{% endblock %}